extends ../layouts/base

append vars
	- title = 'О Trinity';

block content
	include ../layouts/offer
	+e.UL.breadcrumbs.wrap.breadcrumbs__.flex
		+e.LI.item
			+e.A.link(href="#") Главная
		+e.LI.item О Trinity
	+b.about
		+e.wrap.wrap
			+e.H1.title.title.h1 о trinity
			+e.top.flex._justify
				+e.logo.flex._vertical._center
					img(src='/app/img/logo.svg')
				+e.top-content.content
					+e.H2.top-title.h2 О НАШЕМ ЦЕНТРЕ
					p
						strong TRINITY – международная сеть выкупа, обмена, реализации предметов роскоши:
					p
						| • Швейцарских часов;
						br
						| • Оригинальных ювелирных украшений;
						br
						| • Дизайнерских сумок;
						br
						| • Престижных аксессуаров;
						br
						| • Предметов искусства
			+e.center.content
				p
					| Все сделки сопровождаются:
					br
					| • Экспертизой подлинности с применением высокоточного специализированного оборудования
					br
					| • Полной конфиденциальность
					br
					| • Юридической чистотой
				p
					| Филиалы TRINITY находятся в Великобритании, ОАЭ, Германии, Польше, Болгарии, России, Украине, Казахстане, Китае, Южной Корее.
				h2
					| Раздел FAQ
				p
					em Как определяется стоимость изделия при выкупе или обмене?
				p
					| Эксклюзивная и надёжная продукция, отличающаяся применением высококачественных и дорогостоящих материалов, всегда отличается от доступных аналогов своей эффектной красотой, оригинальностью и практичностью. Стоимость ювелирного украшения может зависеть не только от состояния, но и от других факторов:
				ul
					li Производителя (GRAFF, CARTIER,CHOPARD, Van Cleef & Arpels и другие);
					li Типа золота;
					li Наличия драгоценных камней;
					li Красоты оправы;
					li Возраста или особенной истории украшения.
		+e.brands
			+e.wrap.wrap
				+e.brands-box
					+e.H2.brands-title.title.h2 Бренды часов, которые мы выкупаем
					+e.brands-desc
						a(href="#") Audemars Piguet
						| , 
						a(href="#") Breguet
						| , 
						a(href="#") Panerai
						| , 
						a(href="#") Patek Philippe
						| , 
						a(href="#") Richard Mille
						| , 
						a(href="#") Rolex
						| , 
						a(href="#") Ulysse Nardin
						| , 
						a(href="#") Vacheron Constantin
						| , 
						a(href="#") A.Lange & Sohne
						| , 
						a(href="#") Alain Silberstein
						| , 
						a(href="#") Bovet
						| , 
						a(href="#") Blancpain
						| , 
						a(href="#") Breitling
						| , 
						a(href="#") Bvlgari
						| , 
						a(href="#") Cartier
						| , 
						a(href="#") Chopard 
						| и другие
					+btn(href="#brands", class="_black js-modal") список всех брендов
				+e.brands-img(src="/img/rolex.png")
		+e.bottom
			+e.wrap.wrap
				+e.bottom-content.content
					p
						| Элитные часы, произведённые одной из известных швейцарских мануфактур, могут также иметь разную цену, поскольку при оценке будет учитываться возраст и состояние хронографа, производитель (AUDEMARS PIGUET, PATEK PHILIPPE, ROLEX, HUBLOT, BREUGET и другие), присутствие драгоценных металлов и/или диамантов. Также большую роль играют функции часов, сложность конструкции и наличие истории у каждого оцениваемого экземпляра (гравировка или статус прошлых хозяев).
					p
						em Как удостовериться в подлинности изделия при покупке?
					p
						| Для профессиональной оценки наши специалисты используют специальное точное оборудование, различные системы оценки драгоценных камней, а также многолетний бесценный опыт. Также мы гарантируем каждому нашему клиенту полную конфиденциальность, юридическую безупречность сделок и оформление договоров в соответствии с действующим законодательством. Чтобы не стать жертвой мошенников и потерять полагающиеся вам средства, настоятельно не рекомендуем обращаться к частным лицам, а также доверять объявлениям в интернете.
