+b.FOOTER.footer
	+e.top
		+e.wrap.wrap
			+e.top-row.flex._justify._vertical
				+e.top-left
					+e.UL.nav._left.flex._vertical
						+e.LI.nav-item
							+e.A.nav-link(href="#") украшения
						+e.LI.nav-item
							+e.A.nav-link(href="#") Швейцарские часы
						+e.LI.nav-item
							+e.A.nav-link(href="#") Аксессуары
				+e.A.logo(href="/main.html")
					img(src="/app/img/logo.svg")
				+e.top-left
					+e.UL.nav._right.flex._right
						+e.LI.nav-item
							+e.A.nav-link(href="#") О КОМПАНИИ
						+e.LI.nav-item
							+e.A.nav-link(href="#") НОВОСТИ
						+e.LI.nav-item
							+e.A.nav-link(href="#") УСЛУГИ
						+e.LI.nav-item
							+e.A.nav-link(href="#") КОНТАКТЫ
	+e.bottom
		+e.wrap.wrap
			+e.bottom-row.flex._justify._vertical
				+e.bottom-left
					+e.contact.flex
						+e.contact-item
							+e.contact-label.p13 Городской телефон
							+e.A.contact-text(href="tel:+74952403333") +7 495 240 33 33
						+e.contact-item
							+e.contact-label.p13 Мессенджеры
							+e.A.contact-text(href="tel:+79153706397") +7 915 370 63 97
						+e.contact-item
							+e.contact-label.p13 Почта
							+e.A.contact-text(href="mailto:info@trinity.ru") info@trinity.ru
					+e.info.flex._vertical
						+e.copyright.p13 © Trinity 1993—2020
						+e.A.polity.p13(href="#") Политика конфеденциальности
				+e.bottom-right
					+e.A.develop(href="https://vse.digital", target="_blank")
						img(src="/app/img/develop_logo.svg")