+b.HEADER.header
	+e.wrap.wrap
		+e.row.flex._justify._vertical
			+e.column
				+e.burger.burger__
					+e.line
					+e.line
					+e.line
			+e.column
				+e.A.logo(href="#")
					img(src="/app/img/logo.svg")
			+e.column.flex._right
				+e.contact
					+e.A.phone(href="tel:8800600200333") 8 800 600 200 333