+b.latest-products
	+e.wrap.wrap._big
		+e.H2.title.title.h2.css-text-center свежие поступления
		+e.slider-container
			+e.slider.js-slider(
						data-settings=`{
							"smartSpeed": 500,
							"items": 5,
							"margin": 66,
							"center": false,
							"nav": true,
							"navContainer": ".js-product-nav",
							"responsive": {
								"0": {
									"items": 1,
									"margin": 10
								},
								"479": {
									"items": 2,
									"margin": 10
								},
								"580": {
									"items": 3,
									"margin": 20
								},
								"860": {
									"items": 4,
									"margin": 40
								},
								"1150": {
									"items": 5,
									"margin": 66
								}
							}
						}`, data-progress-bar=".js-product-bar")
				+e.A.item.product-preview__(href="#")
					+e.preview
						+e.IMG.preview-img.object-fit(src="/img/product1.png")
					+e.info
						+e.title PATEK PHILIPPE
						+e.desc GRAND COMPLICATIONS 
							br 
							| 5101P
						+e.price 6 200 $
						+e.currency 431 613 ₽ · 5 473 €
				+e.A.item.product-preview__(href="#")
					+e.preview
						+e.IMG.preview-img.object-fit(src="/img/product2.png")
					+e.info
						+e.title BREGUET
						+e.desc Classique Complications 
							br
							| 3757PT 1E 9V6
						+e.price 44 000 $
						+e.currency 431 613 ₽ · 5 473 €
				+e.A.item.product-preview__(href="#")
					+e.preview
						+e.IMG.preview-img.object-fit(src="/img/product3.png")
					+e.info
						+e.title HUBLOT
						+e.desc BIG BANG 
							br
							| ZEBRA WHITE
						+e.price 44 000 $
						+e.currency 431 613 ₽ · 5 473 €
				+e.A.item.product-preview__(href="#")
					+e.preview
						+e.IMG.preview-img.object-fit(src="/img/product4.png")
					+e.info
						+e.title AUDEMARS PIGUET
						+e.desc Royal Oak Selfwinding
							br
							| 15502OR ZZ 1222OR 01
						+e.price По запросу
				+e.A.item.product-preview__(href="#")
					+e.preview
						+e.IMG.preview-img.object-fit(src="/img/product5.png")
					+e.info
						+e.title ROLEX
						+e.desc Rolex Lady Datejust
							br
							| Yellow Gold 179178 mdp
						+e.price 44 000 $
						+e.currency 431 613 ₽ · 5 473 €
				+e.A.item.product-preview__(href="#")
					+e.preview
						+e.IMG.preview-img.object-fit(src="/img/product1.png")
					+e.info
						+e.title PATEK PHILIPPE
						+e.desc GRAND COMPLICATIONS 
							br 
							| 5101P
						+e.price 6 200 $
						+e.currency 431 613 ₽ · 5 473 €
				+e.A.item.product-preview__(href="#")
					+e.preview
						+e.IMG.preview-img.object-fit(src="/img/product2.png")
					+e.info
						+e.title BREGUET
						+e.desc Classique Complications 
							br
							| 3757PT 1E 9V6
						+e.price 44 000 $
						+e.currency 431 613 ₽ · 5 473 €
				+e.A.item.product-preview__(href="#")
					+e.preview
						+e.IMG.preview-img.object-fit(src="/img/product3.png")
					+e.info
						+e.title HUBLOT
						+e.desc BIG BANG 
							br
							| ZEBRA WHITE
						+e.price 44 000 $
						+e.currency 431 613 ₽ · 5 473 €
				+e.A.item.product-preview__(href="#")
					+e.preview
						+e.IMG.preview-img.object-fit(src="/img/product4.png")
					+e.info
						+e.title AUDEMARS PIGUET
						+e.desc Royal Oak Selfwinding
							br
							| 15502OR ZZ 1222OR 01
						+e.price По запросу
				+e.A.item.product-preview__(href="#")
					+e.preview
						+e.IMG.preview-img.object-fit(src="/img/product5.png")
					+e.info
						+e.title ROLEX
						+e.desc Rolex Lady Datejust
							br
							| Yellow Gold 179178 mdp
						+e.price 44 000 $
						+e.currency 431 613 ₽ · 5 473 €
			+e.nav.js-product-nav.owl-nav
		+e.progress.owl-progress.js-product-bar
			+b.owl-progress-bar
		+e.bottom.flex._center
			+btn(class='_black') в каталог