+b.offer
	+e.wrap.wrap
		+e.row.flex._justify._vertical
			+e.item
				+e.icon
					+icon('shield')
				+e.text.p13
					| Гарантия 
					br
					| подлинности товара
			+e.item
				+e.icon
					+icon('watch')
				+e.text.p13
					| Конкурентные цены 
					br
					| на элитные часы
			+e.item
				+e.icon
					+icon('lock')
				+e.text.p13
					| Конфиденциальность 
					br
					| и безопасность сделок
			+e.item
				+e.icon
					+icon('car')
				+e.text.p13
					| Доставка по 
					br
					| договоренности