.green-link {
	text-transform: uppercase;
	color: #5A8779;
	font-weight: 500;
	display: inline-flex;
	border-bottom: 1px solid #5A8779;
	line-height: 1;
	transition: ease .2s;
	&:hover {
		color: #000;
		border-color: #000;
	}
}