.mfp-container{
	padding: 0 15px;
	overflow-x: hidden;
	overflow-y: auto;
}
.mfp-bg{
	background-color: rgba(0, 0, 0, 0.302);
	opacity: 1;
}
.mfp-counter{
	display: none;
}

.mfp-image-holder {
	background-color: rgba(0, 0, 0, 0.702);
}

.mfp-content{
	@extend .clear;
}

.modals{
	margin: auto;
	&_buy {
		max-width: 665rem;
		padding: 51rem 66rem;
		margin: auto;
		background: #FBFBFB;
	}
	&__close {
		width: 24rem;
		height: 24rem;
		fill: #454545;
		position: absolute;
		right: 30rem;
		top: 30rem;
		cursor: pointer;
	}
	.form__title {
		margin-bottom: 30rem;
	}
	
	@include max-screen($large_mobile) {
		&_buy {
			padding-left: 40px 20px;
		}
		&__close {
			right: 20rem;
			top: 20rem;
		}
	}
}

.buy {
	&__cart {
		width: 250/533*100%;
		padding: 30rem;
		background: #fff;
		text-align: center;
		&-preview {
			margin-bottom: 19rem;
			img {
				max-height: 154rem;
			}
		}
		&-desc {
			font-size: 11rem;
			line-height: 15/11*1;
			margin-top: 10rem;
		}
	}
	&__price {
		&-list {
			margin-top: 17rem;
		}
		&_new {
			font-size: 29rem;
			line-height: 38/29*1;
			margin-right: 15rem;
			font-weight: 300;
		}
		&_old {
			font-size: 12rem;
			line-height: 16/12*1;
			color: rgba(27, 28, 30, 0.6);
			text-align: left;
		}
	}
	&__form {
		width: 225/533*100%;
	}
	
	@include max-screen($large_mobile) {
		&__cart {
			padding: 0;
			background: none;
		}
		&__cart, &__form {
			width: 100%;
		}
		&__form {
			margin-top: 30px;
			text-align: center;
		}
	}
}

.brends {
	max-width: 1170rem;
	background: #fff;
	&__body {
		background: #FBFBFB;
		padding: 45rem 90rem;
	}
	&__column {
		width: 20%;
	}
	&__title {
		text-transform: uppercase;
	}
	&__row {
		margin-top: 35rem;
	}
	&__item {
		font-size: 14rem;
		line-height: 19/14*1;
		&:not(:last-child) {
			margin-bottom: 10rem;
		}
	}
	&__bottom {
		padding: 30rem 90rem;
		&-text {
			font-size: 17rem;
			line-height: 150%;
			margin-right: 40rem;
		}
	}
	&__btn {
		width: 243rem;
		font-weight: 600;
	}
	&__img {
		position: absolute;
		right: 0;
		bottom: 0;
		pointer-events: none;
		width: 337rem;
	}
	
	@include max-screen($small_tablet) {
		&__body {
			padding-left: 30px;
			padding-right: 30px;
		}
		&__bottom {
			padding-left: 30px;
		}
		&__img {
			display: none;
		}
	}
	@include max-screen($large_mobile) {
		&__body {
			padding-left: 20px;
			padding-right: 20px;
			padding-bottom: 30rem;
		}
		&__row {
			max-height: 40vh;
			overflow-x: hidden;
			overflow-y: auto;
			&::-webkit-scrollbar {
				width: 5px;
				background: rgba(#000, .1);
			}
			&::-webkit-scrollbar-thumb {
				background: #000;
			}
		}
		&__column {
			width: 100%;
			&:not(:last-child) {
				margin-bottom: 10rem;
			}
		}
		&__item {
			font-size: 17px;
		}
		&__bottom {
			padding-left: 20px;
			padding-right: 20px;
			text-align: center;
			justify-content: center;
			&-text {
				width: 100%;
				margin-bottom: 15px;
				margin-right: 0;
			}
		}
	}
}

.css-modal-animate{
	// start state

	overflow: hidden;

	.modals__arrow{
		opacity: 0;
	}

	.modals, .mfp-figure{
		transition: all .5s ease;
		opacity: 0;

		&_right{

			transform: translate(25rem, 0);
		}

		&_center{
			transform: translate(0rem, 25rem);
		}
	}

	// animate in
	&.mfp-ready{
		.modals__arrow{
			opacity: 1;
		}
		.modals, .mfp-figure{
			transform: translate(0, 0);
			opacity: 1;
		}
	}

	// animate out
	&.mfp-removing{
		.modals__arrow{
			opacity: 0;
		}
		.modals, .mfp-figure{
			opacity: 0;

			&_right{
				transform: translate(25rem, 0);
			}

			&_center{
				transform: translate(0rem, 25rem);
			}
		}
	}

	@include max-screen($small_tablet) {
		.modals, .mfp-figure{
			transform: translate(0, 0)!important;
		}
	}
}